<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PHP MVC</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="css/custom.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js?render=6LcIJ6cUAAAAABzDuwpRp8UWOkteEUrySZ2cUg1j"></script>
  </head>
  <body>
    {{content}}
  </body>
</html>
