<div class="pb-2">
  <div class="card">
    <div class="card-body">
      <form id="add-form" method="post">
        <div class="row">
          <div class="col-md-12">
            <input
              type="text"
              class="form-control input-form-control form-control-lg validate-input form-input"
              placeholder="Add new..."
            />
            <a
              id="set-due-date-button"
              data-id="set-due-date"
              class="text-primary"
              data-mdb-toggle="tooltip"
              title="Set due date"
              ><i
                class="fas fa-calendar-alt fa-lg me-3"
                data-id="set-due-date"
              ></i
            ></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
