<div class="pb-2">
  <div class="card">
    <div class="card-body">
      <form id="add-work-order-form" method="post">
        <div class="invalid-feedback text-small fw-light" id="invalid-name">
          New Work Order is required...
        </div>
        <div class="form-row">
          <div class="col">
            <div class="input-group">
              <input
                type="text"
                name = "name"
                class="form-control input-form-control form-control-lg validate-input form-input"
                placeholder="Add new..."
              />
              <span class="input-group-text">
                <a
                  id="set-due-date-button"
                  data-id="add-date-component"
                  class="text-primary"
                  data-mdb-toggle="tooltip"
                  title="Set due date"
                  >
                  <i
                    class="fas fa-calendar-alt fa-lg"
                    data-id="add-date-component"
                  ></i>
                </a>  
              </span>
              <div class="form-button">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row align-items-right mx-3">
          <div id="add-date-component" class="col-11 mb-4 pb-4 set-due-date">
            <div class="invalid-feedback text-small fw-light" id="invalid-datepicker">
              Please choose a date...
            </div>
            <div class="input-group date" id="datetime" data-target-input="nearest">
              <input 
                class="form-control input-form-control form-control-lg form-input datetimepicker-input" 
                data-target="#datetime"
                id="datepicker"
                name="datepicker"
                placeholder="Click to select date" 
                type="text" 
              />
              <span class="input-group-text">
                <a
                  class="text-primary datepicker-button"
                  data-target="#datetime"
                  data-mdb-toggle="tooltip"
                  id="datepicker-button"
                  title="Set due date"
                  >
                  <i
                    class="fas fa-calendar-alt fa-lg datepicker-button"
                  ></i>
                </a>  
              </span>
            </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
